//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  a {
      text-decoration: none;
      cursor: pointer;
  }

