// color //

$white : #FFFFFF;
$dark-blue: #002E4A;
$gray: #00000029;
$darkgray: #373740;
$pearl: #F9F9F9;
$lgray: #EAEAEA;
$teal: #1AB6B8;
$green: #27B692;
$yellow: #FFB40B;
$red: #ED0A3F;
$darkteal: #009C9E;

$bg-bottom: #002E4A;

$font:'Roboto', sans-serif;